.body {
  margin-left: 75px;
  margin-right: 75px;
  font-family: Raleway;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 120px;
  padding-top: 60px;
  padding-bottom: 25px;
  padding-left: 20px;
}

.menu {
  display: flex;
  gap: 85px;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
}

.hebergements {
  position: relative;
  text-decoration: none;
  color: black;
}

.activites {
  position: relative;
  text-decoration: none;
  color: black;
}

.blue-bar {
  position: absolute;
  top: -64px;
  width: calc(100% + 60px);
  left: -35px;
  height: 3px;
  background-color: #0065fc;
  display: none;
}

.hebergements:hover .blue-bar,
.activites:hover .blue-bar {
  display: block;
}

.hebergements:hover,
.activites:hover {
  color: #0065fc;
}

/*Start of Filters top of screen*/
.title-search {
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 5px;
}

.center {
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
}

.location {
  display: flex;
  font-weight: 800;
  font-size: 18px;
  height: 60px;
  border: solid 1px #f5f5f5;
  border-radius: 15px;
  width: max-content;
  margin-top: 25px;
}

.h2 {
  font-size: 25px;
}

.fa-location-dot {
  border-radius: 15px 0 0 15px;
  background-color: #f2f2f2;
  height: 60px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marseille {
  max-width: 280px;
  padding: 0 15px;
  align-items: center;
  display: flex;
  font-weight: 800;
  font-size: 18px;
  border: none;
  outline: none;
}

.search-for {
  width: 170px;
  background-color: #0065fc;
  border-radius: 0 15px 15px 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  font-weight: 700;
  padding-top: 35px;
  font-size: 22px;
}

.econ,
.fami,
.roman,
.ani {
  display: flex;
  align-items: center;
  border: solid 2px #eee;
  border-radius: 31px;
  position: relative;
  height: 54px;
  transition: transform 0.5s;
  text-decoration: none;
  color: black;
}

.fa-dog,
.fa-child,
.fa-heart,
.fa-money-bill-wave {
  height: 58px;
  width: 58px;
  background-color: #deebff;
  border-radius: 50%;
  color: #0065fc;
  font-size: 22px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -2px;
}

.econ:hover,
.fami:hover,
.roman:hover,
.ani:hover {
  transform: scale(1.1);
}

.text {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
  font-weight: 700;
  margin-left: 58px;
}

.information {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 30px;
}

.fa-info {
  border: 1px solid #eee;
  border-radius: 11px;
  width: 22px;
  height: 22px;
  color: #0065fc;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*End of Filters top of screen*/

.buildings {
  font-size: 19px;
  padding-left: 15px;
}

/*start of container for left cards + aside cards ->flex*/
.container-cards {
  display: flex;
  gap: 55px;
}
/*background color for left-cards*/
.card-1-left-part {
  margin-top: 40px;
  width: 70%;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.title-1 {
  padding-left: 50px;
  font-weight: 700;
  font-size: 28px;
}

.small-cards-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 24px;
  padding: 0 30px;
}

.hotel-1 {
  width: calc(100% / 3 - 25px);
  background-color: white;
  border-radius: 16px;
  box-shadow: 3px 3px 20px 0px #c7c7c7;
  transition: transform 0.8s;
}

.imghotel-1 {
  width: calc(100% - 16px);
  height: 150px;
  border-radius: 16px 16px 0 0;
  padding-left: 8px;
  padding-top: 7px;
  object-fit: cover;
}

.hotel-1:hover,
.hotel-2:hover {
  transform: scale(1.1);
}

.star-1 {
  font-size: 12px;
  margin-bottom: 15px;
}

.star-blue {
  color: #0065fc;
}

.star-gray {
  color: #dbdbdb;
}

.hotel {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

.night {
  font-size: 14px;
  margin: 5px 0 5px 0;
  margin-top: 0px;
}

.padding-3 {
  padding-left: 15px;
}

.show-more {
  padding-left: 47px;
  padding-top: 50px;
  font-weight: 700;
  font-size: 19px;
}
/*end of background color for left-cards*/

/*start of aside-rght cards*/
.card-2-aside-right {
  margin-top: 40px;
  width: 30%;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.title-2 {
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 700;
  font-size: 28px;
  display: flex;
  justify-content: space-between;
}

.column-2 {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hotel-2 {
  background-color: white;
  border-radius: 16px;
  display: flex;
  box-shadow: 3px 3px 20px 0px #c7c7c7;
  transition: transform 0.7s;
  height: 200px;
  position: relative;
}

.imghotel-2 {
  object-fit: cover;
  border-radius: 16px 0 0 16px;
  padding: 7px 8px;
  width: 40%;
}

.hotel-3 {
  font-weight: 700;
  font-size: 19px;
  margin: 0px;
}

.width-hotel-2 {
  width: 100%;
  display: flex;
}

.padding-4 {
  padding: 15px 20px 0;
}

.nuit-2 {
  padding-top: 10px;
  margin: 0px;
  font-size: 14px;
}

.star-2 {
  margin-top: 15px;
  font-size: 12px;
  position: absolute;
  display: flex;
  bottom: 0px;
}

.title-3 {
  font-weight: 700;
  font-size: 28px;
  padding-top: 20px;
}

.activites-2 {
  display: flex;
  gap: 50px;
  height: 500px;
}

.width-activites {
  width: 25%;
}

.border-radius {
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 3px 3px 20px 0px #c7c7c7;
}

.vieuxport {
  font-size: 20px;
  font-weight: 700;
  margin: auto 20px;
}

.img-vieuxport,
.img-pomegues {
  object-fit: cover;
  width: 100%;
  height: calc(100% - 55px);
}

.large-element {
  height: calc(60% - 25px);
}

.small-element {
  height: calc(40% - 25px);
}

.gap-element {
  gap: 50px;
  display: flex;
  flex-direction: column;
}

.link-image {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer {
  width: calc(100% - 75px);
  height: 250px;
  background-color: #f2f2f2;
  margin-top: 50px;
  font-family: Raleway;
  display: flex;
  justify-content: space-between;
  padding-left: 75px;
}

.title-4 {
  font-weight: 700;
  font-size: 20px;
}

.footerun {
  width: 33%;
  justify-content: center;
  align-items: center;
}

.txt {
  font-weight: 500;
}

.none {
  text-decoration: none;
  color: black;
}
/*
@media screen and (max-width: 768px) {
  .body {
    margin-right: 20px;
    margin-left: 20px;
  }
  .header {
    flex-direction: column;
    text-align: center;
    display: flex;
  }
  .menu {
    justify-content: space-around;
    gap: 0;
  }
  .barrebleue {
    width: 100%;
    left: 0;
    top: 30px;
  }
  .hebergements,
  .activites {
    width: 50%;
  }
  .rechercher {
    display: none;
  }
  .fa-magnifying-glass {
    display: flex;
    width: 60px;
    background-color: #0065fc;
    border-radius: 15px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .location {
    max-width: 100%;
  }
  .marseille {
    width: calc(100% - 70px - 60px);
  }
  .vieuxport {
    padding: 10px 0;
  }
  .bordures {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap: 0;
  }
  .borduredeux {
    width: 100%;
  }
  .bordureune {
    background-color: white;
    width: 100%;
    margin-top: 0;
  }
  .column {
    flex-direction: column;
  }
  .hotelun {
    width: 100%;
  }
  .activitesdeux {
    flex-direction: column;
    width: 100%;
    height: initial;
  }
  .paddingquatre {
    padding: 5px;
  }
  .widthactivites {
    width: 100%;
  }
  .imgwidth {
    height: 150px;
  }
  .footer {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 10px;
    text-align: left;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .bordures {
    display: block;
  }
  .bordureune {
    width: 100%;
  }
  .titreun {
    padding-top: 20px;
  }
  .borduredeux {
    width: 100%;
  }
  .activitesdeux {
    flex-wrap: wrap;
    height: initial;
  }
  .afficher {
    padding-bottom: 20px;
  }
  .widthactivites {
    width: calc(50% - 25px);
  }
  .calanquesorder {
    order: 1;
  }
}

@media screen and (min-width: 992px) and (max-width: 1472px) {
  .body {
    margin: 30px;
  }
  .bordures {
    gap: 20px;
  }
  .bordureune {
    width: 60%;
  }
  .borduredeux {
    width: 40%;
  }
  .hotelun {
    width: calc(100% / 2 - 25px);
  }
  .column {
    padding: 0 10px;
  }
  .columndeux {
    padding: 0 30px;
  }
}

*/
